body {
  margin: 0;
  font-family: 'Titillium-Regular';

  // ########## Header Component ##########
  #header {
    height: 100px;
    .wrapper {
      margin: 0 auto;
      padding: 0 10px;
      width: 1200px;
      .logo {
        float: left;
        margin-top: 15px;
      }
      nav {
        float: right;
        ul {
          list-style-type: none;
          display: inline-block;
          position: relative;
          li {
            float: left;
            margin-top: 27px;
            .dropdown {
              position: relative;
              display: inline-block;
              .menu {
                color: #000000;
                text-transform: uppercase;
                font-weight: bold;
                margin-right: 30px;
                text-decoration: none;
              }
              .drop-menu {
                display: none;
                position: absolute;
                min-width: 250px;
                min-height: 100px;
                padding: 15px 15px;
                .sub-menu {
                  color: #000000;
                  text-transform: uppercase;
                  font-weight: bold;
                  margin-right: 25px;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }

  // ########## HeroImage Component ##########
  #hero-image {
    height: calc(100vh - 100px);
    background: #e8eced url('../image/hero.jpg') no-repeat center;
    background-size: cover;
    .wrapper {
      margin: 0 auto;
      padding: 0 10px;
      width: 1200px;
      h2 {
        font-family: 'Titillium-Regular';
        font-size: 55px;
        text-transform: uppercase;
        text-align: center;
        margin: 0px;
        position: relative;
        color: #ffffff;
        top: 250px;
      }
      h3 {
        font-family: 'Titillium-Regular';
        font-size: 45px;
        text-transform: uppercase;
        margin: 0px;
        position: relative;
        color: #0078ad;
        top: 250px;
        text-align: center;
      }
      .button-container {
        position: relative;
        top: 650px;
        .hero-button {
          width: 260px;
          height: 130px;
          text-transform: uppercase;
          font-size: 27px;
          font-family: 'Titillium-Regular';
          font-weight: bold;
          color: #ffffff;
          padding: 5px;
          margin: 15px;
          border: 0px;
          .hero-button-icon {
            color: #ffffff;
            font-size: 35px;
            padding: 7px 10px;
            float: left;
          }
          .hero-button-learn {
            font-size: 20px;
            text-transform: none;
            color: #10406e;
          }
        }
        .alpha-1 {
          background-color: rgba($color: #0078ad, $alpha: 0.75);
        }
        .alpha-2 {
          background-color: rgba($color: #0078ad, $alpha: 0.50);
        }
        .alpha-3 {
          background-color: rgba($color: #0078ad, $alpha: 0.25);
        }
        .alpha-4 {
          background-color: rgba($color: #0078ad, $alpha: 0.10);
        }
      }
    }
  }

  // ########## WhoWeAre Component ##########
  #who-we-are {
    background-color: #0078ad;
    height: 400px;
    .wrapper {
      margin: 0 auto;
      padding: 0 10px;
      width: 1200px;
      box-sizing: border-box;
      .who-we-are {
        float: left;
        width: 30%;
        margin: 10px;
        color: #ffffff;
        h4 {
          font-family: 'Titillium-Regular';
          font-size: 35px;
          text-align: center;
          margin: 0px;
          padding-top: 60px;
        }
        p {
          font-family: 'Titillium-Regular';
          font-size: 15px;
          line-height: 23px;
        }
        button {
          background-color: #0078ad; // border: 1px solid #ffffff;
          color: #ffffff;
          font-size: 16px;
          font-family: 'Titillium-Regular';
          padding: 15px;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
      }
      .year-groups {
        float: left;
        width: 30%;
        margin: 10px;
        color: #ffffff;
        h4 {
          font-family: 'Titillium-Regular';
          font-size: 35px;
          text-align: center;
          margin: 0px;
          padding-top: 60px;
        }
        p {
          a {
            text-decoration: none;
            color: #ffffff;
          }
        }
        button {
          background-color: #0078ad; // border: 1px solid #ffffff;
          color: #ffffff;
          font-size: 16px;
          font-family: 'Titillium-Regular';
          padding: 15px;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
      }
      .our-kids {
        float: left;
        width: 30%;
        margin: 10px;
        color: #ffffff;
        h4 {
          font-family: 'Titillium-Regular';
          font-size: 35px;
          text-align: center;
          margin: 0px;
          padding-top: 60px;
        }
        iframe {
          margin-top: 15px;
        }
      }
    }
  }

  // ########## WhatsBeenHapening Component ##########
  #whats-been-happening {
    margin-bottom: 120px;
    .wrapper {
      margin: 0 auto;
      padding: 0 10px;
      width: 1200px;
      height: 800px;
      h3 {
        font-family: 'Titillium-Regular';
        font-size: 45px;
        text-align: center;
        color: #0078ad;
        margin: 0px;
        padding-top: 60px;
      }
      .section-h4 {
        font-family: 'Titillium-Regular';
        font-size: 35px;
        text-align: center;
        margin: 0px;
        padding-bottom: 60px;
        color: #6d6d6d;
      }
      .left {
        float: left;
        width: 47%;
        margin: 10px;
        overflow: hidden;
        .blog-images:hover {
          transform: scale(1.1);
        }
        .blog-container {
          background-color: #c1c1c1;
          padding: 20px;
          .blog-info {
            font-family: 'Titillium-Regular';
            font-size: 12px;
          }
          .blog-heading {
            font-family: 'Titillium-Regular';
            font-size: 35px;
            text-align: center;
            margin: 0px;
            color: #0078ad;
          }
          p {
            font-family: 'Titillium-Regular';
            font-size: 15px;
            line-height: 20px;
          }
          button {
            background-color: #134a7d;
            color: #ffffff;
            font-size: 16px;
            font-family: 'Titillium-Regular';
            padding: 15px;
            text-transform: uppercase;
            letter-spacing: 1px;
            border: 0;
          }
          button:hover {
            background-color: #428bca;
          }
        }
      }
      .right {
        float: left;
        width: 47%;
        margin: 10px;
        overflow: hidden;
        .blog-images:hover {
          transform: scale(1.1);
        }
        .blog-container {
          background-color: #c1c1c1;
          padding: 20px;
          .blog-info {
            font-family: 'Titillium-Regular';
            font-size: 12px;
          }
          .blog-heading {
            font-family: 'Titillium-Regular';
            font-size: 35px;
            text-align: center;
            margin: 0px;
            color: #0078ad;
          }
          p {
            font-family: 'Titillium-Regular';
            font-size: 15px;
            line-height: 20px;
          }
          button {
            background-color: #134a7d;
            color: #ffffff;
            font-size: 16px;
            font-family: 'Titillium-Regular';
            padding: 15px;
            text-transform: uppercase;
            letter-spacing: 1px;
            border: 0;
          }
          button:hover {
            background-color: #428bca;
          }
        }
      }
    }
  }

  // ########## LifeAtCampus Component ##########
  #life-at-campus {
    background: #e8eced url('../image/life-at-campus.jpg') no-repeat center;
    background-size: cover;
    height: 900px;
    .wrapper {
      margin: 0 auto;
      padding: 0 10px;
      width: 1200px;
      h4 {
        font-family: 'Titillium-Regular';
        font-size: 35px;
        text-transform: uppercase;
        text-align: center;
        color: #ffffff;
        margin: 0px;
        padding: 60px;
      }
      .gallery-container {
        .image-coloumn-1 {
          float: left;
          .image-container {
            img {
              border: 2px solid #ffffff;
              display: block;
            }
            .overlay {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              height: 100%;
              width: 100%;
              opacity: 0;
              transition: .5s ease;
              background-color: #0078ad;
            }
            .icon {
              color: #ffffff;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
          .image-container:hover {
            opacity: 1;
          }
        }
        .image-coloumn-2 {
          float: left;
          .image-container {
            img {
              border: 2px solid #ffffff;
              display: block;
            }
          }
        }
        .image-coloumn-3 {
          float: left;
          .image-container {
            img {
              border: 2px solid #ffffff;
              display: block;
            }
          }
        }
      }
    }
  }

  // ########## Footer Component ##########
  footer {
    background-color: #154a7c;
    height: 400px;
    .wrapper {
      margin: 0 auto;
      padding: 0 10px;
      width: 1200px;
      box-sizing: border-box;
      .footer-info {
        width: 30%;
        color: #ffffff;
        float: left;
        margin: 10px;
        h4 {
          font-family: 'Titillium-Regular';
          font-size: 35px;
          text-align: center;
          margin: 0px;
          padding-top: 60px;
        }
        p {
          font-family: 'Titillium-Regular';
          font-size: 15px;
          line-height: 23px;
        }
      }
      .footer-description {
        width: 30%;
        color: #ffffff;
        float: left;
        margin: 10px;
        h4 {
          font-family: 'Titillium-Regular';
          font-size: 35px;
          text-align: center;
          margin: 0px;
          padding-top: 60px;
        }
        p {
          font-family: 'Titillium-Regular';
          font-size: 15px;
          line-height: 23px;
        }
      }
      .follow-us {
        width: 30%;
        color: #ffffff;
        float: left;
        margin: 10px;
        h4 {
          font-family: 'Titillium-Regular';
          font-size: 35px;
          text-align: center;
          margin: 0px;
          padding-top: 60px;
        }
        .followus-images-container {
          align-content: center;
          padding-top: 10px;
          .followus-images {
            padding: 7px;
          }
        }
      }
    }
  }

  // ########## HeroImage Component ##########
  #copyright {
    background-color: #10406e;
    height: 50px;
    .wrapper {
      margin: 0 auto;
      padding: 0 10px;
      width: 1200px;
      box-sizing: border-box;
      .left {
        float: left;
        padding-top: 15px;
        a {
          color: #ffffff;
          padding: 5px;
        }
      }
      .right {
        float: right;
        p {
          color: #ffffff;
          font-family: 'Titillium-Regular';
          font-size: 13px;
          padding-top: 7px;
          a {
            color: #8bd3f5;
          }
        }
      }
    }
    .clear {
      clear: both;
    }
  }
}