body {
  margin: 0;
  font-family: 'Roboto';

  // ########## Header Component ##########
  #header {
    height: 100px;
    .wrapper {
      margin: 0 auto;
      padding: 0 10px;
      width: 1200px;
      .logo {
        float: left;
        margin-top: 15px;
      }
      nav {
        float: right;
        ul {
          list-style-type: none;
          display: inline-block;
          position: relative;
          li {
            float: left;
            margin-top: 27px;
            .dropdown {
              position: relative;
              display: inline-block;
              .menu {
                color: #000000;
                text-transform: uppercase;
                font-weight: bold;
                margin-right: 30px;
                text-decoration: none;
              }
              .drop-menu {
                // background-color: #0078ad;
                display: block;
                position: absolute;
                min-width: 250px;
                min-height: 100px;
                padding: 15px 15px;
                .sub-menu {
                  color: #000000;
                  text-transform: uppercase;
                  font-weight: bold;
                  margin-right: 25px;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }

  // ########## HeroImage Home Component ##########
  #hero-image {
    height: calc(100vh - 100px);
    background: #e8eced url('../image/hero.jpg') no-repeat center;
    background-size: cover;
    .wrapper {
      margin: 0 auto;
      padding: 0 10px;
      width: 1200px;
      h2 {
        font-family: 'Titillium-Regular';
        font-size: 55px;
        text-transform: uppercase;
        text-align: center;
        margin: 0px;
        position: relative;
        color: #ffffff;
        top: 250px;
      }
      h3 {
        font-family: 'Titillium-Regular';
        font-size: 45px;
        text-transform: uppercase;
        margin: 0px;
        position: relative;
        color: #0078ad;
        top: 250px;
        text-align: center;
      }
      .button-container {
        position: relative;
        top: 650px;
        .hero-button {
          width: 260px;
          height: 130px;
          text-transform: uppercase;
          font-size: 27px;
          font-family: 'Titillium-Regular';
          font-weight: bold;
          color: #ffffff;
          padding: 5px;
          margin: 15px;
          border: 0px;
          .hero-button-icon {
            color: #ffffff;
            font-size: 35px;
            padding: 7px 10px;
            float: left;
          }
          .hero-button-learn {
            font-size: 20px;
            text-transform: none;
            color: #10406e;
          }
        }
        .alpha-1 {
          background-color: rgba($color: #0078ad, $alpha: 0.75);
        }
        .alpha-2 {
          background-color: rgba($color: #0078ad, $alpha: 0.50);
        }
        .alpha-3 {
          background-color: rgba($color: #0078ad, $alpha: 0.25);
        }
        .alpha-4 {
          background-color: rgba($color: #0078ad, $alpha: 0.10);
        }
      }
    }
  }

  // ########## WhoWeAre Home Component ##########
  #who-we-are {
    background-color: #0078ad;
    height: 400px;
    .wrapper {
      margin: 0 auto;
      padding: 0 10px;
      width: 1200px;
      box-sizing: border-box;
      .who-we-are {
        float: left;
        width: 30%;
        margin: 10px;
        color: #ffffff;
        h4 {
          font-family: 'Titillium-Regular';
          font-size: 35px;
          text-align: center;
          margin: 0px;
          padding-top: 60px;
        }
        p {
          font-family: 'Titillium-Regular';
          font-size: 15px;
          line-height: 23px;
        }
        button {
          background-color: #0078ad; // border: 1px solid #ffffff;
          color: #ffffff;
          font-size: 16px;
          font-family: 'Titillium-Regular';
          padding: 15px;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
      }
      .year-groups {
        float: left;
        width: 30%;
        margin: 10px;
        color: #ffffff;
        h4 {
          font-family: 'Titillium-Regular';
          font-size: 35px;
          text-align: center;
          margin: 0px;
          padding-top: 60px;
        }
        p {
          a {
            text-decoration: none;
            color: #ffffff;
          }
        }
        button {
          background-color: #0078ad; // border: 1px solid #ffffff;
          color: #ffffff;
          font-size: 16px;
          font-family: 'Titillium-Regular';
          padding: 15px;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
      }
      .our-kids {
        float: left;
        width: 30%;
        margin: 10px;
        color: #ffffff;
        h4 {
          font-family: 'Titillium-Regular';
          font-size: 35px;
          text-align: center;
          margin: 0px;
          padding-top: 60px;
        }
        iframe {
          margin-top: 15px;
          border: 0;
          width: 300px;
          height: 168.75px
        }
      }
    }
  }

  // ########## WhatsBeenHapening Component ##########
  #whats-been-happening {
    margin-bottom: 120px;
    height: 800px;
    .wrapper {
      margin: 0 auto;
      padding: 0 10px;
      width: 1200px;
      h3 {
        font-family: 'Titillium-Regular';
        font-size: 45px;
        text-align: center;
        color: #0078ad;
        margin: 0px;
        padding-top: 60px;
      }
      .section-h4 {
        font-family: 'Titillium-Regular';
        font-size: 35px;
        text-align: center;
        margin: 0px;
        padding-bottom: 60px;
        color: #6d6d6d;
      }
      .left {
        float: left;
        width: 47%;
        margin: 10px;
        overflow: hidden;
        .blog-image-wrapper {
          width: 570px;
          height: 350px;
          overflow: hidden;
          position: relative;
          .blog-image-1 {
            width: 570px;
            height: 350px;
            background: #e8eced url('./image/blog-1.jpg') no-repeat center;
            background-size: cover;
            overflow: hidden;
          }
          .blog-overlay-1 {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: none;
            height: 100%;
            width: 100%;
            background-color: #0078ad;
          }
          .blog-icon-1 {
            color: #ffffff;
            position: absolute;
            display: none;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transform: rotate(45deg);
            font-size: 35px;
          }
          &:hover {
            .blog-image-1 {
              transform: scale(1.1);
            }
            .blog-overlay-1 {
              display: block;
              opacity: 0.8;
              transition: .5s ease;
            }
            .blog-icon-1 {
              display: block;
              opacity: 1;
            }
          }
        }
        .blog-container {
          background-color: #c1c1c1;
          padding: 20px;
          .blog-info {
            font-family: 'Titillium-Regular';
            font-size: 12px;
          }
          .blog-heading {
            font-family: 'Titillium-Regular';
            font-size: 35px;
            text-align: center;
            margin: 0px;
            color: #0078ad;
          }
          p {
            font-family: 'Titillium-Regular';
            font-size: 15px;
            line-height: 20px;
          }
          button {
            background-color: #134a7d;
            color: #ffffff;
            font-size: 16px;
            font-family: 'Titillium-Regular';
            padding: 15px;
            text-transform: uppercase;
            letter-spacing: 1px;
            border: 0;
          }
          button:hover {
            background-color: #428bca;
          }
        }
      }
      .right {
        float: left;
        width: 47%;
        margin: 10px;
        overflow: hidden;
        .blog-image-wrapper {
          width: 570px;
          height: 350px;
          overflow: hidden;
          position: relative;
          .blog-image-2 {
            width: 570px;
            height: 350px;
            background: #e8eced url('./image/blog-2.jpg') no-repeat center;
            background-size: cover;
            overflow: hidden;
          }
          .blog-image-2 {
            width: 570px;
            height: 350px;
            background: #e8eced url('./image/blog-2.jpg') no-repeat center;
            background-size: cover;
            overflow: hidden;
          }
          .blog-overlay-2 {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: none;
            height: 100%;
            width: 100%;
            background-color: #0078ad;
          }
          .blog-icon-2 {
            color: #ffffff;
            position: absolute;
            display: none;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transform: rotate(45deg);
            font-size: 35px;
          }
          &:hover {
            .blog-image-2 {
              transform: scale(1.1);
            }
            .blog-overlay-2 {
              display: block;
              opacity: 0.8;
              transition: .5s ease;
            }
            .blog-icon-2 {
              display: block;
              opacity: 1;
            }
          }
        }
        .blog-container {
          background-color: #c1c1c1;
          padding: 20px;
          .blog-info {
            font-family: 'Titillium-Regular';
            font-size: 12px;
          }
          .blog-heading {
            font-family: 'Titillium-Regular';
            font-size: 35px;
            text-align: center;
            margin: 0px;
            color: #0078ad;
          }
          p {
            font-family: 'Titillium-Regular';
            font-size: 15px;
            line-height: 20px;
          }
          button {
            background-color: #134a7d;
            color: #ffffff;
            font-size: 16px;
            font-family: 'Titillium-Regular';
            padding: 15px;
            text-transform: uppercase;
            letter-spacing: 1px;
            border: 0;
          }
          button:hover {
            background-color: #428bca;
          }
        }
      }
    }
  }

  // ########## LifeAtCampus Component ##########
  #life-at-campus {
    background: #e8eced url('../image/life-at-campus.jpg') no-repeat center;
    background-size: cover;
    height: 900px;
    .wrapper {
      margin: 0 auto;
      padding: 0 10px;
      width: 1200px;
      h4 {
        font-family: 'Titillium-Regular';
        font-size: 35px;
        text-transform: uppercase;
        text-align: center;
        color: #ffffff;
        margin: 0px;
        padding: 60px;
      }
      .gallery-container {
        .gallery-image-coloumn-1 {
          float: left;
          .gallery-image-wrapper-1 {
            position: relative;
            .gallery-image-1 {
              width: 420px;
              height: 400px;
              background: #e8eced url('./image/gallery-image-1.jpg') no-repeat center;
              background-size: cover;
              overflow: hidden;
              border: 2px solid #ffffff;
              display: block;
            }
            .gallery-overlay-1 {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              display: none;
              height: 100%;
              width: 100%;
              background-color: #0078ad;
            }
            .gallery-icon-1 {
              color: #ffffff;
              position: absolute;
              display: none;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              transform: rotate(45deg);
              font-size: 35px;
            }
            &:hover {
              // .gallery-image-1 {
              //   transform: scale(1.2);
              // }
              .gallery-overlay-1 {
                display: block;
                opacity: 0.8;
                transition: .5s ease;
              }
              .gallery-icon-1 {
                display: block;
                opacity: 1;
              }
            }

            #lightbox {
              // display: none;
              position: fixed;
              // z-index: 1;
              // padding-top: 100px;
              left: 0;
              right: 0;
              width: 100%;
              height: 100vh;
              // overflow: auto;
              background-color: #6d6d6d;
              // cursor: pointer;
              .close {
                color: #252020;
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 35px;
                font-weight: bold;
              }
              // &:hover, &:focus {
              //   color: #999;
              //   text-transform: none;
              //   cursor: pointer;
              // }
              .lightbox-container {
                position: relative;
                background-color: #8bd3f5;
                margin: auto;
                padding: 0;
                width: 90%;
                max-width: 1200px;
                .slides {
                  // display: none;
                  .slide-number {
                    color: #ffffff;
                    font-size: 12px;
                    padding: 8px 12px;
                    position: absolute;
                    top: 0px;
                  }
                  .slide-image {
                    width: 100%;
                  }
                }
                .prev, .next {
                  cursor: pointer;
                  position: absolute;
                  top: 50%;
                  width: auto;
                  padding: 16px;
                  margin-top: -50px;
                  color: #ffffff;
                  font-weight: bold;
                  font-size: 20px;
                  transition: 0.6s ease;
                  border-radius: 0 3px 3px 0;
                  user-select: none;
                }
                .next {
                  right: 0;
                  border-radius: 3px 0 0 3px;
                }
              }
            }
          }
          .gallery-image-wrapper-3 {
            position: relative;
            .gallery-image-3 {
              width: 420px;
              height: 245px;
              background: #e8eced url('./image/gallery-image-3.jpg') no-repeat center;
              background-size: cover;
              overflow: hidden;
              border: 2px solid #ffffff;
              display: block;
            }
            .gallery-overlay-3 {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              display: none;
              height: 100%;
              width: 100%;
              background-color: #0078ad;
            }
            .gallery-icon-3 {
              color: #ffffff;
              position: absolute;
              display: none;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              transform: rotate(45deg);
              font-size: 35px;
            }
            &:hover {
              // .gallery-image-1 {
              //   transform: scale(1.2);
              // }
              .gallery-overlay-3 {
                display: block;
                opacity: 0.8;
                transition: .5s ease;
              }
              .gallery-icon-3 {
                display: block;
                opacity: 1;
              }
            }
          }
        }
        .gallery-image-coloumn-2 {
          float: left;
          .gallery-image-wrapper-2 {
            position: relative;
            .gallery-image-2 {
              width: 320px;
              height: 220px;
              background: #e8eced url('./image/gallery-image-2.jpg') no-repeat center;
              background-size: cover;
              overflow: hidden;
              border: 2px solid #ffffff;
              display: block;
            }
            .gallery-overlay-2 {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              display: none;
              height: 100%;
              width: 100%;
              background-color: #0078ad;
            }
            .gallery-icon-2 {
              color: #ffffff;
              position: absolute;
              display: none;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              transform: rotate(45deg);
              font-size: 35px;
            }
            &:hover {
              // .gallery-image-1 {
              //   transform: scale(1.2);
              // }
              .gallery-overlay-2 {
                display: block;
                opacity: 0.8;
                transition: .5s ease;
              }
              .gallery-icon-2 {
                display: block;
                opacity: 1;
              }
            }
          }
          .gallery-image-wrapper-5 {
            position: relative;
            .gallery-image-5 {
              width: 320px;
              height: 201px;
              background: #e8eced url('./image/gallery-image-5.jpg') no-repeat center;
              background-size: cover;
              overflow: hidden;
              border: 2px solid #ffffff;
              display: block;
            }
            .gallery-overlay-5 {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              display: none;
              height: 100%;
              width: 100%;
              background-color: #0078ad;
            }
            .gallery-icon-5 {
              color: #ffffff;
              position: absolute;
              display: none;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              transform: rotate(45deg);
              font-size: 35px;
            }
            &:hover {
              // .gallery-image-1 {
              //   transform: scale(1.2);
              // }
              .gallery-overlay-5 {
                display: block;
                opacity: 0.8;
                transition: .5s ease;
              }
              .gallery-icon-5 {
                display: block;
                opacity: 1;
              }
            }
          }
          .gallery-image-wrapper-7 {
            position: relative;
            .gallery-image-7 {
              width: 320px;
              height: 220px;
              background: #e8eced url('./image/gallery-image-7.jpg') no-repeat center;
              background-size: cover;
              overflow: hidden;
              border: 2px solid #ffffff;
              display: block;
            }
          }
          .gallery-overlay-7 {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: none;
            height: 100%;
            width: 100%;
            background-color: #0078ad;
          }
          .gallery-icon-7 {
            color: #ffffff;
            position: absolute;
            display: none;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transform: rotate(45deg);
            font-size: 35px;
          }
          &:hover {
            // .gallery-image-1 {
            //   transform: scale(1.2);
            // }
            .gallery-overlay-7 {
              display: block;
              opacity: 0.8;
              transition: .5s ease;
            }
            .gallery-icon-7 {
              display: block;
              opacity: 1;
            }
          }
        }
        .gallery-image-coloumn-3 {
          float: left;
          .gallery-image-wrapper-6 {
            position: relative;
            .gallery-image-6 {
              width: 420px;
              height: 400px;
              background: #e8eced url('./image/gallery-image-6.jpg') no-repeat center;
              background-size: cover;
              overflow: hidden;
              border: 2px solid #ffffff;
              display: block;
            }
            .gallery-overlay-6 {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              display: none;
              height: 100%;
              width: 100%;
              background-color: #0078ad;
            }
            .gallery-icon-6 {
              color: #ffffff;
              position: absolute;
              display: none;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              transform: rotate(45deg);
              font-size: 35px;
            }
            &:hover {
              // .gallery-image-1 {
              //   transform: scale(1.2);
              // }
              .gallery-overlay-6 {
                display: block;
                opacity: 0.8;
                transition: .5s ease;
              }
              .gallery-icon-6 {
                display: block;
                opacity: 1;
              }
            }
          }
          .gallery-image-wrapper-4 {
            position: relative;
            .gallery-image-4 {
              width: 420px;
              height: 245px;
              background: #e8eced url('./image/gallery-image-4.jpg') no-repeat center;
              background-size: cover;
              overflow: hidden;
              border: 2px solid #ffffff;
              display: block;
            }
            .gallery-overlay-4 {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              display: none;
              height: 100%;
              width: 100%;
              background-color: #0078ad;
            }
            .gallery-icon-4 {
              color: #ffffff;
              position: absolute;
              display: none;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              transform: rotate(45deg);
              font-size: 35px;
            }
            &:hover {
              // .gallery-image-1 {
              //   transform: scale(1.2);
              // }
              .gallery-overlay-4 {
                display: block;
                opacity: 0.8;
                transition: .5s ease;
              }
              .gallery-icon-4 {
                display: block;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  // ########## Footer Component ##########
  footer {
    background-color: #154a7c;
    height: 400px;
    .wrapper {
      margin: 0 auto;
      padding: 0 10px;
      width: 1200px;
      box-sizing: border-box;
      .footer-info {
        width: 30%;
        color: #ffffff;
        float: left;
        margin: 10px;
        h4 {
          font-family: 'Titillium-Regular';
          font-size: 35px;
          text-align: center;
          margin: 0px;
          padding-top: 60px;
        }
        p {
          font-family: 'Titillium-Regular';
          font-size: 15px;
          line-height: 23px;
        }
      }
      .footer-description {
        width: 30%;
        color: #ffffff;
        float: left;
        margin: 10px;
        h4 {
          font-family: 'Titillium-Regular';
          font-size: 35px;
          text-align: center;
          margin: 0px;
          padding-top: 60px;
        }
        p {
          font-family: 'Titillium-Regular';
          font-size: 15px;
          line-height: 23px;
        }
      }
      .follow-us {
        width: 30%;
        color: #ffffff;
        float: left;
        margin: 10px;
        h4 {
          font-family: 'Titillium-Regular';
          font-size: 35px;
          text-align: center;
          margin: 0px;
          padding-top: 60px;
        }
        .followus-images-container {
          align-content: center;
          padding-top: 10px;
          .followus-images {
            padding: 7px;
          }
        }
      }
    }
  }

  // ########## FooterDescription Component ##########
  #copyright {
    background-color: #10406e;
    height: 50px;
    .wrapper {
      margin: 0 auto;
      padding: 0 10px;
      width: 1200px;
      box-sizing: border-box;
      .left {
        float: left;
        padding-top: 15px;
        a {
          color: #ffffff;
          padding: 5px;
        }
      }
      .right {
        float: right;
        p {
          color: #ffffff;
          font-family: 'Titillium-Regular';
          font-size: 13px;
          padding-top: 7px;
          a {
            color: #8bd3f5;
          }
        }
      }
    }
    .clear {
      clear: both;
    }
  }

  // ########## BoardTitleHeader Component ##########
  #board-title-header {
    height: 250px;
    background: #e8eced url('../image/hero.jpg') no-repeat center;
    background-size: cover;
    .board-title-heading {
      font-family: 'Titillium-Regular';
      font-size: 55px;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      color: #ffffff;
      margin: 0px;
      line-height: 250px;
      box-sizing: border-box;
    }
  }

  // ########## BoardIntro Component ##########
  #board-intro {
    height: 400px;
    .wrapper {
      margin: 0 auto;
      padding: 0 10px;
      width: 1200px;
      .intro-left {
        float: left;
        width: 47%;
        margin: 15px;
        padding-top: 30px;
        .intro-heading {
          font-family: 'Titillium-Regular';
          font-size: 30px;
          margin: 0px;
          position: relative;
          color: #0078ad;
          text-align: left;
          line-height: 1.3em;
        }
      }
      .intro-right {
        float: left;
        width: 47%;
        margin: 15px;
        padding-top: 30px;
        .intro-heading {
          font-family: 'Titillium-Regular';
          font-size: 30px;
          margin: 0px;
          position: relative;
          color: #0078ad;
          text-align: left;
          line-height: 1.3em;
        }
      }
    }
  }

  // ########## BoardMembers1 Component ##########
  #board-members-1 {
    height: 500px;
    background-color: #eff0f1;
    .wrapper {
      margin: 0 auto;
      padding: 0 10px;
      width: 1200px;
      .board-members-col-container {
        position: relative;
        top: 35px;
        .board-members-col {
          width: 30%;
          float: left;
          margin: 10px;
          .board-member-container {
            width: 95%;
            align-items: center;
            background-color: #ffffff;
            box-shadow: 5px 5px 5px #8bd3f5;
            .board-member-box {
              padding: 20px;
              .board-person-name {
                margin: 0px;
                font-size: 20px;
                font-family: 'Titillium-Regular';
                color: #0078ad;
              }
              .board-person-designation {
                margin: 0px;
                font-size: 18px;
                font-family: 'Titillium-Regular';
                color: #6d6d6d;
              }
              .board-person-details {
                margin: 0px;
                padding-top: 15px;
                line-height: 1.4em;
              }
            }
          }
        }
      }
    }
  }

  // ########## BoardMembers2 Component ##########
  #board-members-2 {
    height: 500px;
    // background-color: #eff0f1;
    .wrapper {
      margin: 0 auto;
      padding: 0 10px;
      width: 1200px;
      .board-members-col-container {
        position: relative;
        top: 35px;
        .board-members-col {
          width: 30%;
          float: left;
          margin: 10px;
          .board-member-container {
            width: 95%;
            align-items: center;
            background-color: #ffffff;
            box-shadow: 5px 5px 5px #8bd3f5;
            .board-member-box {
              padding: 20px;
              .board-person-name {
                margin: 0px;
                font-size: 20px;
                font-family: 'Titillium-Regular';
                color: #0078ad;
              }
              .board-person-designation {
                margin: 0px;
                font-size: 18px;
                font-family: 'Titillium-Regular';
                color: #6d6d6d;
              }
              .board-person-details {
                margin: 0px;
                padding-top: 15px;
                line-height: 1.4em;
              }
            }
          }
        }
      }
    }
  }

  // ########## HeritageTitleHeader Component ##########
  #heritage-title-header {
    height: 250px;
    background: #e8eced url('../image/hero.jpg') no-repeat center;
    background-size: cover;
    .heritage-title-heading {
      font-family: 'Titillium-Regular';
      font-size: 55px;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      color: #ffffff;
      margin: 0px;
      line-height: 250px;
      box-sizing: border-box;
    }
  }

  // ########## BoardIntro Component ##########
  #heritage-intro {
    height: 500px;
    .wrapper {
      .heritage-heading {
        font-family: 'Titillium-Regular';
        font-size: 45px;
        text-transform: uppercase;
        margin: 0px;
        position: relative;
        color: #0078ad;
        top: 30px;
        text-align: center;
      }
      margin: 0 auto;
      padding: 0 10px;
      width: 1200px;
      .intro-left {
        float: left;
        width: 47%;
        margin: 15px;
        padding-top: 60px;
        .intro-heading {
          font-family: 'Titillium-Regular';
          font-size: 30px;
          margin: 0px;
          position: relative;
          color: #0078ad;
          text-align: left;
          line-height: 1.3em;
        }
      }
      .intro-right {
        float: left;
        width: 47%;
        margin: 15px;
        padding-top: 60px;
        .intro-heading {
          font-family: 'Titillium-Regular';
          font-size: 30px;
          margin: 0px;
          position: relative;
          color: #0078ad;
          text-align: left;
          line-height: 1.3em;
        }
      }
    }
  }
}