#board-intro {
  height: 400px;
  .wrapper {
    margin: 0 auto;
    padding: 0 10px;
    width: 1200px;
    .intro-left {
      float: left;
      width: 47%;
      margin: 15px;
      padding-top: 30px;
      .intro-heading {
        font-family: 'Titillium-Regular';
        font-size: 30px;
        margin: 0px;
        position: relative;
        color: #0078ad;
        text-align: left;
        line-height: 1.3em;
      }
    }
    .intro-right {
      float: left;
      width: 47%;
      margin: 15px;
      padding-top: 30px;
      .intro-heading {
        font-family: 'Titillium-Regular';
        font-size: 30px;
        margin: 0px;
        position: relative;
        color: #0078ad;
        text-align: left;
        line-height: 1.3em;
      }
    }
  }
}