#life-at-campus {
  background: #e8eced url('../image/life-at-campus.jpg') no-repeat center;
  background-size: cover;
  height: 900px;
  .wrapper {
    @include wrapper(1200px);
    h4 {
      @include H4(center, #ffffff);
      padding: 60px;
    }
    .gallery-container {
      .gallery-image-coloumn-1 {
        float: left;
        .gallery-image-wrapper-1 {
          position: relative;
          .gallery-image-1 {
            width: 420px;
            height: 400px;
            background: #e8eced url('./image/gallery-image-1.jpg') no-repeat center;
            background-size: cover;
            overflow: hidden;
            border: 2px solid #ffffff;
            display: block;
          }
          .gallery-overlay-1 {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: none;
            height: 100%;
            width: 100%;
            background-color: #0078ad;
          }
          .gallery-icon-1 {
            color: #ffffff;
            position: absolute;
            display: none;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transform: rotate(45deg);
            font-size: 35px;
          }
          &:hover {
            // .gallery-image-1 {
            //   transform: scale(1.2);
            // }
            .gallery-overlay-1 {
              display: block;
              opacity: 0.8;
              transition: .5s ease;
            }
            .gallery-icon-1 {
              display: block;
              opacity: 1;
            }
          }

          #lightbox {
            // display: none;
            position: fixed;
            // z-index: 1;
            // padding-top: 100px;
            left: 0;
            right: 0;
            width: 100%;
            height: 100vh;
            // overflow: auto;
            background-color: #6d6d6d;
            // cursor: pointer;
            .close {
              color: #252020;
              position: absolute;
              top: 10px;
              right: 10px;
              font-size: 35px;
              font-weight: bold;
            }
            // &:hover, &:focus {
            //   color: #999;
            //   text-transform: none;
            //   cursor: pointer;
            // }
            .lightbox-container {
              position: relative;
              background-color: #8bd3f5;
              margin: auto;
              padding: 0;
              width: 90%;
              max-width: 1200px;
              .slides {
                // display: none;
                .slide-number {
                  color: #ffffff;
                  font-size: 12px;
                  padding: 8px 12px;
                  position: absolute;
                  top: 0px;
                }
                .slide-image {
                  width: 100%;
                }
              }
              .prev, .next {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                padding: 16px;
                margin-top: -50px;
                color: #ffffff;
                font-weight: bold;
                font-size: 20px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
                user-select: none;
              }
              .next {
                right: 0;
                border-radius: 3px 0 0 3px;
              }
            }
          }
        }
        .gallery-image-wrapper-3 {
          position: relative;
          .gallery-image-3 {
            width: 420px;
            height: 245px;
            background: #e8eced url('./image/gallery-image-3.jpg') no-repeat center;
            background-size: cover;
            overflow: hidden;
            border: 2px solid #ffffff;
            display: block;
          }
          .gallery-overlay-3 {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: none;
            height: 100%;
            width: 100%;
            background-color: #0078ad;
          }
          .gallery-icon-3 {
            color: #ffffff;
            position: absolute;
            display: none;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transform: rotate(45deg);
            font-size: 35px;
          }
          &:hover {
            // .gallery-image-1 {
            //   transform: scale(1.2);
            // }
            .gallery-overlay-3 {
              display: block;
              opacity: 0.8;
              transition: .5s ease;
            }
            .gallery-icon-3 {
              display: block;
              opacity: 1;
            }
          }
        }
      }
      .gallery-image-coloumn-2 {
        float: left;
        .gallery-image-wrapper-2 {
          position: relative;
          .gallery-image-2 {
            width: 320px;
            height: 220px;
            background: #e8eced url('./image/gallery-image-2.jpg') no-repeat center;
            background-size: cover;
            overflow: hidden;
            border: 2px solid #ffffff;
            display: block;
          }
          .gallery-overlay-2 {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: none;
            height: 100%;
            width: 100%;
            background-color: #0078ad;
          }
          .gallery-icon-2 {
            color: #ffffff;
            position: absolute;
            display: none;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transform: rotate(45deg);
            font-size: 35px;
          }
          &:hover {
            // .gallery-image-1 {
            //   transform: scale(1.2);
            // }
            .gallery-overlay-2 {
              display: block;
              opacity: 0.8;
              transition: .5s ease;
            }
            .gallery-icon-2 {
              display: block;
              opacity: 1;
            }
          }
        }
        .gallery-image-wrapper-5 {
          position: relative;
          .gallery-image-5 {
            width: 320px;
            height: 201px;
            background: #e8eced url('./image/gallery-image-5.jpg') no-repeat center;
            background-size: cover;
            overflow: hidden;
            border: 2px solid #ffffff;
            display: block;
          }
          .gallery-overlay-5 {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: none;
            height: 100%;
            width: 100%;
            background-color: #0078ad;
          }
          .gallery-icon-5 {
            color: #ffffff;
            position: absolute;
            display: none;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transform: rotate(45deg);
            font-size: 35px;
          }
          &:hover {
            // .gallery-image-1 {
            //   transform: scale(1.2);
            // }
            .gallery-overlay-5 {
              display: block;
              opacity: 0.8;
              transition: .5s ease;
            }
            .gallery-icon-5 {
              display: block;
              opacity: 1;
            }
          }
        }
        .gallery-image-wrapper-7 {
          position: relative;
          .gallery-image-7 {
            width: 320px;
            height: 220px;
            background: #e8eced url('./image/gallery-image-7.jpg') no-repeat center;
            background-size: cover;
            overflow: hidden;
            border: 2px solid #ffffff;
            display: block;
          }
        }
        .gallery-overlay-7 {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          display: none;
          height: 100%;
          width: 100%;
          background-color: #0078ad;
        }
        .gallery-icon-7 {
          color: #ffffff;
          position: absolute;
          display: none;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transform: rotate(45deg);
          font-size: 35px;
        }
        &:hover {
          // .gallery-image-1 {
          //   transform: scale(1.2);
          // }
          .gallery-overlay-7 {
            display: block;
            opacity: 0.8;
            transition: .5s ease;
          }
          .gallery-icon-7 {
            display: block;
            opacity: 1;
          }
        }
      }
      .gallery-image-coloumn-3 {
        float: left;
        .gallery-image-wrapper-6 {
          position: relative;
          .gallery-image-6 {
            width: 420px;
            height: 400px;
            background: #e8eced url('./image/gallery-image-6.jpg') no-repeat center;
            background-size: cover;
            overflow: hidden;
            border: 2px solid #ffffff;
            display: block;
          }
          .gallery-overlay-6 {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: none;
            height: 100%;
            width: 100%;
            background-color: #0078ad;
          }
          .gallery-icon-6 {
            color: #ffffff;
            position: absolute;
            display: none;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transform: rotate(45deg);
            font-size: 35px;
          }
          &:hover {
            // .gallery-image-1 {
            //   transform: scale(1.2);
            // }
            .gallery-overlay-6 {
              display: block;
              opacity: 0.8;
              transition: .5s ease;
            }
            .gallery-icon-6 {
              display: block;
              opacity: 1;
            }
          }
        }
        .gallery-image-wrapper-4 {
          position: relative;
          .gallery-image-4 {
            width: 420px;
            height: 245px;
            background: #e8eced url('./image/gallery-image-4.jpg') no-repeat center;
            background-size: cover;
            overflow: hidden;
            border: 2px solid #ffffff;
            display: block;
          }
          .gallery-overlay-4 {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: none;
            height: 100%;
            width: 100%;
            background-color: #0078ad;
          }
          .gallery-icon-4 {
            color: #ffffff;
            position: absolute;
            display: none;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transform: rotate(45deg);
            font-size: 35px;
          }
          &:hover {
            // .gallery-image-1 {
            //   transform: scale(1.2);
            // }
            .gallery-overlay-4 {
              display: block;
              opacity: 0.8;
              transition: .5s ease;
            }
            .gallery-icon-4 {
              display: block;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}