#whats-been-happening {
  margin-bottom: 120px;
  height: 800px;
  .wrapper {
    @include wrapper(1200px);
    h3 {
      @include H3(center, $primary-color);
      padding-top: 60px;
    }
    .section-h4 {
      @include H4(center, #6d6d6d);
      padding-bottom: 60px;
    }
    .blog {
      float: left;
      width: 47%;
      margin: 10px;
      overflow: hidden;
      .blog-image-wrapper {
        width: 570px;
        height: 350px;
        overflow: hidden;
        position: relative;
        .blog-image-1 {
          @include blog-image($image-background-color, './image/blog-1.jpg');
        }
        .blog-image-2 {
          @include blog-image($image-background-color, './image/blog-2.jpg');
        }
        .blog-overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          display: none;
          height: 100%;
          width: 100%;
          background-color: #0078ad;
        }
        .blog-icon {
          color: #ffffff;
          position: absolute;
          display: none;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transform: rotate(45deg);
          font-size: 35px;
        }
        &:hover {
          .blog-image {
            transform: scale(1.1);
          }
          .blog-overlay {
            display: block;
            opacity: 0.8;
            transition: .5s ease;
          }
          .blog-icon {
            display: block;
            opacity: 1;
          }
        }
      }
      .blog-container {
        background-color: #c1c1c1;
        padding: 20px;
        .blog-info {
          font-family: $font-family;
          font-size: 12px;
        }
        .blog-heading {
          font-family: $font-family;
          font-size: 35px;
          text-align: center;
          margin: 0px;
          color: #0078ad;
        }
        p {
          font-family: $font-family;
          font-size: 15px;
          line-height: 20px;
        }
        button {
          background-color: #134a7d;
          color: #ffffff;
          font-size: 16px;
          font-family: $font-family;
          padding: 15px;
          text-transform: uppercase;
          letter-spacing: 1px;
          border: 0;
        }
        button:hover {
          background-color: #428bca;
        }
      }
    }
  }
}